@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scrollbar-width: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #192427;
}

::-webkit-scrollbar {
  width: 0px;
}